{% extends "auctions/layout.html" %}

{% block body %}

{% if request.path == "/watchlist/" %}
<h2> Watchlist</h2>
{% else %}
<h2>Active Listings  </h2>
{% endif %}
    <br>

    <!--if on watchlist page then card layout-->
 {% if request.path == "/watchlist/" %} 

 <div class="row mx-3 d-flex flex-row" style="width: 70rem;">
    {% for listing in listings %}
      <div class="col-md-4">
        <picture>
          <img src="{{listing.imageUrl}}" class="img-fluid alt="...">
        </picture>
  
        <div class="card-body">
          <h4 class="card-title">{{listing.title}}</h4>
          <p class="card-text">{{listing.description}}.</p>
  
          <h6>{{listing.price}}</h6>
  
          <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Check out</a>
        </div>
      </div>
    {% endfor %}
  </div>           
    
 {% elif request.path == "/" %}
 
<div >
  <div style="display: flex;">
    {% for listing in listings %}
        <div class="card" style="width: 21rem; border: 6px purple solid; border-radius:24px; padding:14px; margin: 15px; " >
            
                <img src="{{listing.imageUrl}}" class="img-fluid m-2 " style="border-radius:24px" >
            
            
                <div class="card-body" style="margin:6px;" >
                    <h4 class="card-title" style="padding:6px;" >{{listing.title}}</h4>
                    <p class="card-text" style="padding:6px;" >{{listing.description}}.</p>
                    
                    <h6 style="padding:6px;" >Starting price: ${{listing.price}}</h6>                
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Check out</a>
                </div>
        </div>       
        {% endfor %}

  </div>      
</div>        
{% endif %}
{% endblock %}
