{% extends "auctions/layout.html" %}

{% block title %}
    {{listing.name}}
{% endblock %}



{% block body %}








    <div style="background-color: rgb(53, 105, 65);">
   
        <h4 class="card-title" style="color: white">{{listing.name}}</h4>
        <p style="color: white">Categor: {{listing.category}}</p>
        <img src="{{listing.imageUrl}}" alt="{{listing.name}}">
        <h5 style="color: white">{{listing.price}}</h5>
        <br><br>
        <p style="font-weight: 900; color: white ;">{{listing.description}}</p>
        <br><br>
        <h6 style="color: white">{{listing.title}} is created by {{listing.user}} on {{listing.time}}  </h6>

    </div>

{% endblock %}