{% extends "auctions/layout.html" %}

{% block title %}
    {{listing.title}}
{% endblock %}

{% block body %}

<h2 style="color: rgb(206, 203, 16); font-weight: bold;">{{listing.title}}</h2>

{% if  user.is_authenticated %}

   {% if exists == True %}

    <a href="{% url 'remove_watchlist' listing.id %}" class="btn btn-primary" style="margin: 18px;">Remove from watchlist</a>
  
  {% else %}

    <a href="{% url 'add_watchlist' listing.id %}" class="btn btn-primary" style="margin: 18px;">Add to watchlist</a>

   {% endif %}

{% endif %}

    <div style="background-color: rgb(53, 105, 65);" style="display: flex; flex-wrap: wrap; border-radius: 40px;">        
            <h5 style="color: white">Categor: {{listing.category}}</h5>
            <img src="{{listing.imageUrl}}" alt="{{listing.name}}" style="border-radius: 40px;">
            <h5 style="color: white"> Price: ${{listing.price}}</h5>
            <br><br>
            <p style="font-weight: 900; color: white ;">{{listing.description}}</p>
            <br><br>
            <h6 style="color: white">{{listing.title}} is created by  {{listing.owner}}  on {{listing.date_created}}  </h6>        
    </div>


<!--bidings-->


<!--tailwind component-->
<div class="flex flex-col">
  <h1 style="color: rgb(231, 20, 196);">Bids:</h1>
  {% for bid in bids %}
  <div  style="border: 10px solid; border-image: linear-gradient(to right, purple-700, pink-500) 1; background-color: black;">
    <div style="border-radius: 40px; padding: 14px;	background-color: rgb(38 41 48);">
      <h2>Bid: ${{bid.bid}}</h2>
      <h6>A bid of ${{bid.bid}} was made by {{bid.owner}} on {{bid.origin}} </h6>
    </div>
  </div>
</div>


{% endfor %}
















<!--comments-->


<div style="margin: 20px;">
  <h4 style="color: rgb(219 39 119);">Comments:</h4>
</div>

<!--comments (display)-->
<div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" >     
      <div class="card-body p-4" >

 <div class="form-outline mb-4">
  <!--comments add-->
   <form action="{% url 'add_comment' %}" method="post">
      {% csrf_token %} 
      <input name="comment"  type="text"  class="form-control" placeholder="Comment..." />
      <label class="form-label" for="addANote">Type your comment </label>
      <input type="hidden" name="id" value="{{listing.id}}">
      <button type="submit" class="btn btn-primary" style="margin: 10px;">Submit</button>
   </form>
 </div>

  {% for comment in comments %}
        <div class="card mb-4">
          <div class="card-body" style="padding: 40px;">
            <h4>{{comment.comment}}</h4>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <hr>
                <p class="small mb-0 ms-2">By: {{comment.author}}</p>
              </div>          
             </div>
           </div>
         </div>
       </div>
       {% endfor %}
    </div>
  </div>
</div>






{% endblock %}
